$accent-color: #0ca668;
$white-color: #fff;
$black-color: #161616;
$beige-color: #efddb3;

%nunito-500 {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
}

%mont-500 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

%hind-400 {
    font-family: "Hind", sans-serif;
    font-weight: 400;
}
