<section class="cars-active">
    <div class="container">
        <row>
            <div class="cars-active-top section-top">
                <h2 class="title" id="lng-carsActive-carsTitle">Машины на месте</h2>
                <p class="cars-active-top__text" id="lng-carsActive-carsDesc">
                    Все машины перед покупкой проверены нашими специалистами. На месте, машину можно поднять на
                    подъёмнике у нас в сервисе.
                </p>
            </div>
        </row>
        <div class="cars-active__cards" id="cars-active__cards"></div>
    </div>
</section>