body {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content__wrapper {
  min-height: 100vh;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content__main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.car__images {
  background-color: #f2f2f2;
  padding: 16px 0 64px 0;
}

.car__images-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.car__images-nav a {
  padding-right: 24px;
  padding-left: 6px;
  font-size: 12px;
  position: relative;
  white-space: nowrap;
  display: block;
}

.car__images-nav a::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  background-image: url("../../../assets/images/arrow-right.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.car__images-nav a:hover {
  text-decoration: underline;
}

.car__images-nav a:nth-child(1) {
  padding-left: 0;
}

.car__images-nav a:last-child {
  font-weight: 700;
  font-size: 12px;
}

.car__images-nav a:last-child:hover {
  text-decoration: none;
}

.car__images-nav a:last-child::before {
  display: none;
}

.car__images-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 380px;
}

.car__images-main {
  width: 50%;
  position: relative;
}

.car__images-main-count {
  cursor: pointer;
  position: absolute;
  width: 57px;
  height: 57px;
  background-color: #223850;
  bottom: 22px;
  left: 20px;
  border-radius: 8px;
  background-image: url("../images/camera.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
}

.car__images-main-count:hover .car__images-main-countNum {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.car__images-main-countNum {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -10px;
  right: -10px;
  background-color: #e62828;
  border-radius: 50%;
  font-size: 10px;
  color: #ffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.car__images-main-countNum span {
  display: block;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-weight: 700;
}

.car__images-main img {
  display: block;
  width: 100%;
  max-width: 645px;
  max-height: 487px;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.car__images-items {
  padding-left: 40px;
  width: 50%;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(2, 174px);
  -ms-grid-columns: (minmax(auto, 1fr));
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  gap: 32px;
}

@media (max-width: 768px) {
  .car__images-items {
    padding-left: 0;
    width: 100%;
  }

  .car__images-content {
    flex-direction: column;
    align-items: center;
    gap: 32px;
    height: 100%;
  }

  .car__images {
    padding-bottom: 0;
  }

  .car__images-main {
    width: 100%;
  }
}

.car__images-item {
  cursor: pointer;
  position: relative;
}

.car__images-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 56, 80, 0.7);
  top: 0;
  left: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 0;
}

.car__images-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}

.car__images-item:last-child {
  background-color: #223850;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffff;
  text-transform: uppercase;
  font-size: 0.8vw;
  font-weight: 700;
}

.car__images-item:last-child span {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.car__images-item:last-child::before {
  display: none;
}

.car__images-item:last-child:hover span {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  text-decoration: underline;
}

.car__images-item:hover::before {
  opacity: 1;
}

.car__dscr {
  padding: 64px 0;
}

.car__dscr-top {
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.car__dscr-title {
  white-space: nowrap;
}

.car__dscr-price {
  margin-bottom: 29px;
  margin-left: 15px;
  color: #e62828;
  font-weight: 700;
  font-size: 2.3vw;
  white-space: nowrap;
}

.car__dscr-text+.car__dscr-text {
  margin-top: 28px;
}

.car__dscr-text {
  color: rgba(45, 45, 45, 0.9);
  font-size: 1.25vw;
  line-height: 26px;
}

@media (max-width: 1000px) {
  .car__dscr-text {
    font-size: 14px;
    line-height: 20px;
  }
}

.car__dscr-btns {
  margin-top: 28px;
}

.car__dscr-numArtc,
.car__dscr-report,
.car__video-review {
  font-size: 1.1vw;
  padding: 15px 20px;
  border: 1px solid #1b2d40;
  display: inline-block;
  border-radius: 8px;
}

.car__dscr-numArtc {
  position: relative;
  padding-left: 50px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.car__dscr-numArtc::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  left: 10px;
  background-image: url("../images/car.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* .car__dscr-numArtc:hover {
  cursor: pointer;
  background-color: #223850;
  color: #f2f2f2;
} */

.car__dscr-report {
  margin-left: 20px;
  padding-left: 45px;
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.car__dscr-report::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  left: 10px;
  background-image: url("../images/best-price.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* .car__dscr-report:hover {
  cursor: pointer;
  background-color: #223850;
  color: #f2f2f2;
} */

.car__video-review {
  padding-left: 45px;
  position: relative;
  margin-left: 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.car__video-review::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  left: 10px;
  background-image: url("../images/youtube.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* .car__video-review:hover {
  cursor: pointer;
  background-color: #223850;
  color: #f2f2f2;
} */

.info__contact {
  background-color: #1b2d40;
  padding: 64px 0;
}

.info__contact-text {
  margin-bottom: 40px;
}

.info__contact-title {
  color: #ffff;
}

.info__contact-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__contact-item+.info__contact-item {
  margin-left: 40px;
  text-transform: lowercase;
}

@media (max-width: 768px) {
  .info__contact-items {
    gap: 40px;
    flex-wrap: wrap;
  }

  .info__contact-item+.info__contact-item {
    margin-left: 0;
  }
}

.info__logos {
  display: inline;
}

.info__logos img {
  max-width: 18px;
}

.info__logos img:not(:last-child) {
  margin-right: 10px;
}

.info__contact-item {
  width: 100%;
  background-color: #fff;
  padding: 24px 20px;
  text-align: center;
  border-radius: 8px;
  font-weight: 700;
  font-size: 1.04vw;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info__contact-item a:nth-child(1) {
  margin-right: 10px;
  white-space: nowrap;
}

.info__contact-item:nth-child(2) a::before {
  background-image: url("../../../assets/images/mail-red.svg");
}

.info__contact-item a {
  position: relative;
  padding-left: 30px;
}

.info__contact-item a::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.other__car {
  background-color: #f2f2f2;
  flex: 1 1 auto;
  padding: 96px 0 64px 0;
}

@media (max-width: 1000px) {
  .other__car {
    margin-bottom: 0;
  }
}

.other__car-text::before {
  height: 140%;
  margin-top: -5px;
}

.other__car-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

/* .other__car-wrapper {
  overflow: hidden;
} */

.other__car-item {
  outline: none;
  max-width: 300px;
}

.more-photo {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 230px));
  justify-content: space-between;
  row-gap: 40px;
}

.more-photo img,
.more-photo a,
.more-photo .product-photos__photo {
  display: block;
  width: 100%;
  height: 100%;
}

.car__dscr-wrapper .car-info {
  position: relative;
  display: flex;
  width: 100%;
  height: 70px;
  margin-bottom: 29px;
}

.car__dscr-wrapper .car-info::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #e62828;
}

.car__dscr-wrapper .car-info .auto,
.car__dscr-wrapper .car-info .block {
  background-color: #f0f2f5;
}

.car__dscr-wrapper .car-info .auto,
.car__dscr-wrapper .car-info .block {
  background-color: #f0f2f5;
}

.car__dscr-wrapper .car-info .auto-desc {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
}

.car__dscr-wrapper .car-info .auto,
.car__dscr-wrapper .car-info .block .from,
.car__dscr-wrapper .car-info .block .year,
.car__dscr-wrapper .car-info .block .articel,
.car__dscr-wrapper .car-info .block .price,
.car__dscr-wrapper .car-info .block .engine,
.car__dscr-wrapper .car-info .block .transmission,
.car__dscr-wrapper .car-info .block .mileage {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.car__dscr-wrapper .car-info .auto {
  margin-left: 20px;
  align-items: flex-start;
  padding-left: 20px;
  margin-right: 5px;
}

.car__dscr-wrapper .car-info .block {
  width: 65%;
}

.from-info p:first-child,
.year-info p:first-child,
.article-info p:first-child,
.auto-info p:first-child,
.price-info p:first-child,
.mileage p:first-child,
.transmission p:first-child,
.engine p:first-child {
  color: #b4b5b6;
  font-size: 12px;
  text-align: center;
}

.auto-info p:first-child {
  text-align: left;
}

.from-info p:last-child,
.year-info p:last-child,
.article-info p:last-child,
.auto-info p:last-child,
.price-info p:last-child,
.mileage p:last-child,
.transmission p:last-child,
.engine p:last-child {
  color: #3b4b53;
  font-weight: bold;
  margin-top: 5px;
  font-size: 15px;
  white-space: nowrap;
}

.price-info p:last-child {
  color: #e62828;
}

.descr__sold {
  background: #9a9a9a;
  cursor: default;
}

/* .descr__sold:hover {
  cursor: default;
  background-color: #bebebe;
  color: #223850;
} */
@media (max-device-width: 800px) {
  .car__dscr-text {
    font-size: 10px;
  }

  .car__images-nav a {
    font-size: 14px;
  }

  .car__images-nav a:last-child {
    font-size: 10px;
  }

  .car__dscr-numArtc,
  .car__dscr-report,
  .car__video-review {
    font-size: 14px;
  }

  .info__contact-item {
    font-size: 16px;
  }

  .footer__nav li {
    font-size: 14px;
  }

  .footer__contact-item:nth-child(1) {
    font-size: 16px;
  }

  .footer__contact-item:nth-child(2) {
    font-size: 16px;
  }

  .header__top-text {
    font-size: 15px !important;
  }

  .car__dscr-numArtc {
    font-size: 18px !important;
  }

  .info__contact-item a {
    font-size: 19px !important;
  }

  .footer__right p {
    font-size: 12px;
  }
}

.car__vikup {
  padding-bottom: 0;
}

.car__vikup .car__images-nav {
  margin-bottom: 0;
}

/* ////////////////////// */

@media (max-width: 768px) {
  .car__dscr-wrapper .car-info {
    flex-direction: column;
    height: 100%;
  }

  .car__dscr-wrapper .car-info .auto {
    align-items: center;
    padding: 10px 0;
    margin: 0;
    width: 100%;
  }

  .auto-info p:first-child {
    text-align: center;
  }

  .auto-desc {
    flex-direction: column;
    gap: 10px;
  }

  .car__dscr-wrapper .car-info .block {
    width: 100%;
  }

  .auto-desc>div {
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
  }

  .other__car-items {
    justify-content: center;
  }

  .car__images-main img {
    margin: 0 auto;
  }

  .car__dscr-report {
    margin: 0;
  }

  .car__video-review {
    margin: 0;
  }

  .car__dscr-btns {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

/* ////////////////////// */