.modal_blocker {
	inset: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    background: rgb(0, 0, 0);
    opacity: 0.5;
  	display: none;
}

.modal_blocker.active {
	display: block;
}

.modal {
	background-color: #ffffff;
	padding: 20px 30px 16px 30px;
	width: 360px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: none;
}

.modal .row {
    margin-bottom: 20px;
}

.modal.modal_view {
	display: block;
}

.modal input, .modal textarea {
    font-family:'Circe-Light', sans-serif;
	font-size: 15px;
    color: #7d8082;
    line-height: 1;
    outline: 0;
    border: 1px solid #cac8c9;
    padding: 9px 0 9px 10px;
    width: 100%;
    margin-bottom: 12px;
    width: 312px;
}

.modal textarea {
    height: 132px;
    margin-bottom: 5px;
}

.modal input.error-input, .modal textarea.error-input {
    box-shadow: 0px 0px 7px -1px rgb(255 0 0 / 100%);
    -webkit-box-shadow: 0px 0px 7px -1px rgb(255 0 0 / 100%);
    -moz-box-shadow: 0px 0px 7px -1px rgb(255 0 0 / 100%);
}

.modal input[type="text"], .textarea2 {
    font-size: 15px;
    border: none;
    color: #7D8082;
    width: 100%;
    border: 1px solid #cac8c9;
}

.modal .row .col-xs-3 {
    width: 30%;
    float: left;
    padding-top: 8px;
    color: #cac8c9;
    font-size: 14px;
}

.modal .row:nth-child(4) .col-xs-9, .modal-test-drive .row:nth-child(3) .col-xs-9 {
    width: 70%;
}

.modal .row .col-xs-9 {
    width: 60%;
    float: left;
}

.modal .col-xs-9 .purpur{
	top: 2px;
    left: 30px;
    position: relative;
    float: left;
}

.modal .col-xs-9 .input {
	top: 0px;
    left: 22px;
    width: 122px;
    position: relative;
}

.modal .clearfix {
	width: 100%;
    clear: both;
}

.modal .clearfix::after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.modal .text-center {
    text-align: center;
}

.modal .btn.btn-primary {
    margin-top: 20px;
    display: inline-block;
    background-color: #019af0;
    border: none;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 8px #019af0;
    box-shadow: 0 0 8px #019af0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    height: 44px;
    letter-spacing: .05em;
    line-height: 140%;
    text-align: center;
    width: 50%;
    cursor: pointer;
}

.modal span.error_text {
    color: rgb(255,0,0);
    margin-top: 20px;
    font-size: 16px;
    display: block;
}

.modal span.success_text {
    color: rgb(0 135 23);
    margin-top: 20px;
    font-size: 16px;
    display: block;
}

.modal a.close-modal {
    background: url(../images/umarket_modal-close.png) no-repeat 0 0;
}

.modal a.close-modal {
    position: absolute;
    top: -12.5px;
    right: -12.5px;
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
}